* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background: #50a8a0;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}
header h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 2.5em;
}
nav {
    background: #444;
    color: white;
    text-align: center;
    padding: 10px 0;
}
nav ul {
    padding: 0;
    margin: 0;
}
nav ul li {
    display: inline;
    margin: 0 5px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}
#main {
    float: left;
    width: 70%;
    padding: 20px;
}
#sidebar {
    float: right;
    width: 30%;
    padding: 20px;
    background: #50a8a0;
    color: white;
}
.section {
    margin-bottom: 20px;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

footer {
    clear: both;
    background: #444;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}


/* Estilos para o formulário */
/* Estilos para o formulário */
form {
    margin: auto;
    padding: 10px; /* Adicionando espaçamento interno */
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="email"],
textarea {
    width: calc(100% - 20px); /* Reduzindo a largura para considerar o padding */
    padding: 10px;
    margin-bottom: 5px; /* Reduzindo a margem inferior */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    height: 120px; /* Reduzindo a altura do campo de texto */
}

input[type="submit"] {
    background-color: #50a8a0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

input[type="submit"]:hover {
    background-color: #3c7b73;
}

